body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}
video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
h1 {
  color: black;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1),
    0px 0px 10px rgba(255, 255, 255, 1), 0px 0px 15px rgba(255, 255, 255, 1),
    0px 0px 20px rgb(24, 243, 255), 0px 0px 30px rgb(24, 243, 255),
    0px 0px 40px rgb(24, 243, 255), 0px 0px 55px rgb(24, 243, 255),
    0px 0px 75px rgb(24, 243, 255);
  text-align: center;
  font-family: serif;
  font-size: 40px;
}
h2 {
  text-shadow: 2px 1px 2px white;
  margin: 0 0 5px;
  font-size: 28px;
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}
footer {
  text-align: center;
  font-size: 18px;
  color: white;
  position: relative;
  z-index: 1;
}

.container {
  max-width: 600px;
  margin: 25px auto;
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247, 0.9) 11.2%,
    rgb(237, 246, 250, 0.9) 100.2%
  );
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.8;
}
.time {
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 1px 2px grey;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}
.mail {
  color: inherit;
}
